<ion-header no-border [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Noticias Por Categorias
    </ion-title>
  </ion-toolbar>

  <ion-segment scrollable mode="md" color="primary" (ionChange)="changeCategorie($event)">
    <ion-segment-button *ngFor="let categorie of categories" [value]="categorie" mode="md" value="opcion">
      <ion-label text-capitalize>{{categorie}}</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content color="dark"[fullscreen]="true">
  <app-noticias [noticias]="noticias"></app-noticias>
  <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
</ion-content>