<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Mis Noticias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" [fullscreen]="true">
  <app-noticias [noticias]="noticias"></app-noticias>
  <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>