<ion-header no-border [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Noticias Favoritas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" [fullscreen]="true">

  <ion-slides [options] = "sliderOpts" *ngIf="dataLocalService.noticias.length === 0">
    <ion-slide>
      <h1>No hay Favoritos</h1>
    </ion-slide>
  </ion-slides>

  <app-noticias *ngIf="dataLocalService.noticias.length > 0" 
                [enFavoritos] = "true"
                [noticias] = "dataLocalService.noticias"></app-noticias>

   <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
</ion-content>
